@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "reset.css";
/* screens */
@import "screens/index.css";
@import "screens/main-screen.css";
@import "screens/now-playing.css";
@import "screens/settings.css";
@import "screens/error.css";

body {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;
}
   
::-webkit-scrollbar {
    display: none;
}

body::before {
    position: absolute;
    content: "";
    background-image: url("https://f4.bcbits.com/img/a3340065932_65");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
    filter: blur(30px);
    filter: brightness(0.8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}